<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<dict>
		<key>e164</key>
		<string>376</string>
		<key>e212</key>
		<string>213</string>
	</dict>
	<key>AE</key>
	<dict>
		<key>e164</key>
		<string>971</string>
		<key>e212</key>
		<string>431</string>
	</dict>
	<key>AF</key>
	<dict>
		<key>e164</key>
		<string>93</string>
		<key>e212</key>
		<string>412</string>
	</dict>
	<key>AG</key>
	<dict>
		<key>e164</key>
		<string>+1-268</string>
		<key>e212</key>
		<string>344</string>
	</dict>
	<key>AI</key>
	<dict>
		<key>e164</key>
		<string>+1-264</string>
		<key>e212</key>
		<string>365</string>
	</dict>
	<key>AL</key>
	<dict>
		<key>e164</key>
		<string>355</string>
		<key>e212</key>
		<string>276</string>
	</dict>
	<key>AM</key>
	<dict>
		<key>e164</key>
		<string>374</string>
		<key>e212</key>
		<string>283</string>
	</dict>
	<key>AN</key>
	<dict>
		<key>e164</key>
		<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>e212</key>
		<string>362</string>
	</dict>
	<key>AO</key>
	<dict>
		<key>e164</key>
		<string>244</string>
		<key>e212</key>
		<string>631</string>
	</dict>
	<key>AR</key>
	<dict>
		<key>e164</key>
		<string>54</string>
		<key>e212</key>
		<string>722</string>
	</dict>
	<key>AS</key>
	<dict>
		<key>e164</key>
		<string>+1-684</string>
		<key>e212</key>
		<string>544</string>
	</dict>
	<key>AT</key>
	<dict>
		<key>e164</key>
		<string>43</string>
		<key>e212</key>
		<string>232</string>
	</dict>
	<key>AU</key>
	<dict>
		<key>e164</key>
		<string>61</string>
		<key>e212</key>
		<string>505</string>
	</dict>
	<key>AW</key>
	<dict>
		<key>e164</key>
		<string>297</string>
		<key>e212</key>
		<string>363</string>
	</dict>
	<key>AZ</key>
	<dict>
		<key>e164</key>
		<string>994</string>
		<key>e212</key>
		<string>400</string>
	</dict>
	<key>BA</key>
	<dict>
		<key>e164</key>
		<string>387</string>
		<key>e212</key>
		<string>218</string>
	</dict>
	<key>BB</key>
	<dict>
		<key>e164</key>
		<string>+1-246</string>
		<key>e212</key>
		<string>342</string>
	</dict>
	<key>BD</key>
	<dict>
		<key>e164</key>
		<string>880</string>
		<key>e212</key>
		<string>470</string>
	</dict>
	<key>BE</key>
	<dict>
		<key>e164</key>
		<string>32</string>
		<key>e212</key>
		<string>206</string>
	</dict>
	<key>BF</key>
	<dict>
		<key>e164</key>
		<string>226</string>
		<key>e212</key>
		<string>613</string>
	</dict>
	<key>BG</key>
	<dict>
		<key>e164</key>
		<string>359</string>
		<key>e212</key>
		<string>284</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>e164</key>
		<string>973</string>
		<key>e212</key>
		<string>426</string>
	</dict>
	<key>BI</key>
	<dict>
		<key>e164</key>
		<string>257</string>
		<key>e212</key>
		<string>642</string>
	</dict>
	<key>BJ</key>
	<dict>
		<key>e164</key>
		<string>229</string>
		<key>e212</key>
		<string>616</string>
	</dict>
	<key>BM</key>
	<dict>
		<key>e164</key>
		<string>+1-441</string>
		<key>e212</key>
		<string>350</string>
	</dict>
	<key>BN</key>
	<dict>
		<key>e164</key>
		<string>673</string>
		<key>e212</key>
		<string>528</string>
	</dict>
	<key>BO</key>
	<dict>
		<key>e164</key>
		<string>591</string>
		<key>e212</key>
		<string>736</string>
	</dict>
	<key>BR</key>
	<dict>
		<key>e164</key>
		<string>55</string>
		<key>e212</key>
		<string>724</string>
	</dict>
	<key>BS</key>
	<dict>
		<key>e164</key>
		<string>+1-242</string>
		<key>e212</key>
		<string>364</string>
	</dict>
	<key>BT</key>
	<dict>
		<key>e164</key>
		<string>975</string>
		<key>e212</key>
		<string>402</string>
	</dict>
	<key>BW</key>
	<dict>
		<key>e164</key>
		<string>267</string>
		<key>e212</key>
		<string>652</string>
	</dict>
	<key>BY</key>
	<dict>
		<key>e164</key>
		<string>375</string>
		<key>e212</key>
		<string>257</string>
	</dict>
	<key>BZ</key>
	<dict>
		<key>e164</key>
		<string>501</string>
		<key>e212</key>
		<string>702</string>
	</dict>
	<key>CA</key>
	<dict>
		<key>e164</key>
		<string>1</string>
		<key>e212</key>
		<string>302</string>
	</dict>
	<key>CD</key>
	<dict>
		<key>e164</key>
		<string>243</string>
		<key>e212</key>
		<string>630</string>
	</dict>
	<key>CF</key>
	<dict>
		<key>e164</key>
		<string>236</string>
		<key>e212</key>
		<string>623</string>
	</dict>
	<key>CG</key>
	<dict>
		<key>e164</key>
		<string>242</string>
		<key>e212</key>
		<string>629</string>
	</dict>
	<key>CH</key>
	<dict>
		<key>e164</key>
		<string>41</string>
		<key>e212</key>
		<string>228</string>
	</dict>
	<key>CI</key>
	<dict>
		<key>e164</key>
		<string>225</string>
		<key>e212</key>
		<string>612</string>
	</dict>
	<key>CK</key>
	<dict>
		<key>e164</key>
		<string>682</string>
		<key>e212</key>
		<string>548</string>
	</dict>
	<key>CL</key>
	<dict>
		<key>e164</key>
		<string>56</string>
		<key>e212</key>
		<string>730</string>
	</dict>
	<key>CM</key>
	<dict>
		<key>e164</key>
		<string>237</string>
		<key>e212</key>
		<string>624</string>
	</dict>
	<key>CN</key>
	<dict>
		<key>e164</key>
		<string>86</string>
		<key>e212</key>
		<string>460</string>
	</dict>
	<key>CO</key>
	<dict>
		<key>e164</key>
		<string>57</string>
		<key>e212</key>
		<string>732</string>
	</dict>
	<key>CR</key>
	<dict>
		<key>e164</key>
		<string>506</string>
		<key>e212</key>
		<string>712</string>
	</dict>
	<key>CU</key>
	<dict>
		<key>e164</key>
		<string>53</string>
		<key>e212</key>
		<string>368</string>
	</dict>
	<key>CV</key>
	<dict>
		<key>e164</key>
		<string>238</string>
		<key>e212</key>
		<string>625</string>
	</dict>
	<key>CY</key>
	<dict>
		<key>e164</key>
		<string>357</string>
		<key>e212</key>
		<string>280</string>
	</dict>
	<key>CZ</key>
	<dict>
		<key>e164</key>
		<string>420</string>
		<key>e212</key>
		<string>230</string>
	</dict>
	<key>DE</key>
	<dict>
		<key>e164</key>
		<string>49</string>
		<key>e212</key>
		<string>262</string>
	</dict>
	<key>DJ</key>
	<dict>
		<key>e164</key>
		<string>253</string>
		<key>e212</key>
		<string>638</string>
	</dict>
	<key>DK</key>
	<dict>
		<key>e164</key>
		<string>45</string>
		<key>e212</key>
		<string>238</string>
	</dict>
	<key>DM</key>
	<dict>
		<key>e164</key>
		<string>+1-767</string>
		<key>e212</key>
		<string>366</string>
	</dict>
	<key>DO</key>
	<dict>
		<key>e164</key>
		<string>+1-809 and 1-829</string>
		<key>e212</key>
		<string>370</string>
	</dict>
	<key>DZ</key>
	<dict>
		<key>e164</key>
		<string>213</string>
		<key>e212</key>
		<string>603</string>
	</dict>
	<key>EC</key>
	<dict>
		<key>e164</key>
		<string>593</string>
		<key>e212</key>
		<string>740</string>
	</dict>
	<key>EE</key>
	<dict>
		<key>e164</key>
		<string>372</string>
		<key>e212</key>
		<string>248</string>
	</dict>
	<key>EG</key>
	<dict>
		<key>e164</key>
		<string>20</string>
		<key>e212</key>
		<string>602</string>
	</dict>
	<key>ER</key>
	<dict>
		<key>e164</key>
		<string>291</string>
		<key>e212</key>
		<string>657</string>
	</dict>
	<key>ES</key>
	<dict>
		<key>e164</key>
		<string>34</string>
		<key>e212</key>
		<string>214</string>
	</dict>
	<key>ET</key>
	<dict>
		<key>e164</key>
		<string>251</string>
		<key>e212</key>
		<string>636</string>
	</dict>
	<key>FI</key>
	<dict>
		<key>e164</key>
		<string>358</string>
		<key>e212</key>
		<string>244</string>
	</dict>
	<key>FJ</key>
	<dict>
		<key>e164</key>
		<string>679</string>
		<key>e212</key>
		<string>542</string>
	</dict>
	<key>FK</key>
	<dict>
		<key>e164</key>
		<string>500</string>
		<key>e212</key>
		<string>750</string>
	</dict>
	<key>FM</key>
	<dict>
		<key>e164</key>
		<string>691</string>
		<key>e212</key>
		<string>550</string>
	</dict>
	<key>FO</key>
	<dict>
		<key>e164</key>
		<string>298</string>
		<key>e212</key>
		<string>288</string>
	</dict>
	<key>FR</key>
	<dict>
		<key>e164</key>
		<string>33</string>
		<key>e212</key>
		<string>208</string>
	</dict>
	<key>GA</key>
	<dict>
		<key>e164</key>
		<string>241</string>
		<key>e212</key>
		<string>628</string>
	</dict>
	<key>GB</key>
	<dict>
		<key>e164</key>
		<string>44</string>
		<key>e212</key>
		<string>234</string>
	</dict>
	<key>GD</key>
	<dict>
		<key>e164</key>
		<string>+1-473</string>
		<key>e212</key>
		<string>352</string>
	</dict>
	<key>GE</key>
	<dict>
		<key>e164</key>
		<string>995</string>
		<key>e212</key>
		<string>282</string>
	</dict>
	<key>GF</key>
	<dict>
		<key>e164</key>
		<string>594</string>
		<key>e212</key>
		<string>742</string>
	</dict>
	<key>GH</key>
	<dict>
		<key>e164</key>
		<string>233</string>
		<key>e212</key>
		<string>620</string>
	</dict>
	<key>GI</key>
	<dict>
		<key>e164</key>
		<string>350</string>
		<key>e212</key>
		<string>266</string>
	</dict>
	<key>GL</key>
	<dict>
		<key>e164</key>
		<string>299</string>
		<key>e212</key>
		<string>290</string>
	</dict>
	<key>GM</key>
	<dict>
		<key>e164</key>
		<string>220</string>
		<key>e212</key>
		<string>607</string>
	</dict>
	<key>GN</key>
	<dict>
		<key>e164</key>
		<string>224</string>
		<key>e212</key>
		<string>611</string>
	</dict>
	<key>GP</key>
	<dict>
		<key>e164</key>
		<string>590</string>
		<key>e212</key>
		<string>340</string>
	</dict>
	<key>GQ</key>
	<dict>
		<key>e164</key>
		<string>240</string>
		<key>e212</key>
		<string>627</string>
	</dict>
	<key>GR</key>
	<dict>
		<key>e164</key>
		<string>30</string>
		<key>e212</key>
		<string>202</string>
	</dict>
	<key>GT</key>
	<dict>
		<key>e164</key>
		<string>502</string>
		<key>e212</key>
		<string>704</string>
	</dict>
	<key>GU</key>
	<dict>
		<key>e164</key>
		<string>+1-671</string>
		<key>e212</key>
		<string>535</string>
	</dict>
	<key>GW</key>
	<dict>
		<key>e164</key>
		<string>245</string>
		<key>e212</key>
		<string>632</string>
	</dict>
	<key>GY</key>
	<dict>
		<key>e164</key>
		<string>592</string>
		<key>e212</key>
		<string>738</string>
	</dict>
	<key>HK</key>
	<dict>
		<key>e164</key>
		<string>852</string>
		<key>e212</key>
		<string>454</string>
	</dict>
	<key>HN</key>
	<dict>
		<key>e164</key>
		<string>504</string>
		<key>e212</key>
		<string>708</string>
	</dict>
	<key>HR</key>
	<dict>
		<key>e164</key>
		<string>385</string>
		<key>e212</key>
		<string>219</string>
	</dict>
	<key>HT</key>
	<dict>
		<key>e164</key>
		<string>509</string>
		<key>e212</key>
		<string>372</string>
	</dict>
	<key>HU</key>
	<dict>
		<key>e164</key>
		<string>36</string>
		<key>e212</key>
		<string>216</string>
	</dict>
	<key>ID</key>
	<dict>
		<key>e164</key>
		<string>62</string>
		<key>e212</key>
		<string>510</string>
	</dict>
	<key>IE</key>
	<dict>
		<key>e164</key>
		<string>353</string>
		<key>e212</key>
		<string>272</string>
	</dict>
	<key>IL</key>
	<dict>
		<key>e164</key>
		<string>972</string>
		<key>e212</key>
		<string>425</string>
	</dict>
	<key>IN</key>
	<dict>
		<key>e164</key>
		<string>91</string>
		<key>e212</key>
		<string>405</string>
	</dict>
	<key>IQ</key>
	<dict>
		<key>e164</key>
		<string>964</string>
		<key>e212</key>
		<string>418</string>
	</dict>
	<key>IR</key>
	<dict>
		<key>e164</key>
		<string>98</string>
		<key>e212</key>
		<string>432</string>
	</dict>
	<key>IS</key>
	<dict>
		<key>e164</key>
		<string>354</string>
		<key>e212</key>
		<string>274</string>
	</dict>
	<key>IT</key>
	<dict>
		<key>e164</key>
		<string>39</string>
		<key>e212</key>
		<string>222</string>
	</dict>
	<key>JM</key>
	<dict>
		<key>e164</key>
		<string>+1-876</string>
		<key>e212</key>
		<string>338</string>
	</dict>
	<key>JO</key>
	<dict>
		<key>e164</key>
		<string>962</string>
		<key>e212</key>
		<string>416</string>
	</dict>
	<key>JP</key>
	<dict>
		<key>e164</key>
		<string>81</string>
		<key>e212</key>
		<string>440</string>
	</dict>
	<key>KE</key>
	<dict>
		<key>e164</key>
		<string>254</string>
		<key>e212</key>
		<string>639</string>
	</dict>
	<key>KG</key>
	<dict>
		<key>e164</key>
		<string>996</string>
		<key>e212</key>
		<string>437</string>
	</dict>
	<key>KH</key>
	<dict>
		<key>e164</key>
		<string>855</string>
		<key>e212</key>
		<string>456</string>
	</dict>
	<key>KI</key>
	<dict>
		<key>e164</key>
		<string>686</string>
		<key>e212</key>
		<string>545</string>
	</dict>
	<key>KM</key>
	<dict>
		<key>e164</key>
		<string>269</string>
		<key>e212</key>
		<string>654</string>
	</dict>
	<key>KN</key>
	<dict>
		<key>e164</key>
		<string>+1-869</string>
		<key>e212</key>
		<string>356</string>
	</dict>
	<key>KP</key>
	<dict>
		<key>e164</key>
		<string>850</string>
		<key>e212</key>
		<string>467</string>
	</dict>
	<key>KR</key>
	<dict>
		<key>e164</key>
		<string>82</string>
		<key>e212</key>
		<string>450</string>
	</dict>
	<key>KW</key>
	<dict>
		<key>e164</key>
		<string>965</string>
		<key>e212</key>
		<string>419</string>
	</dict>
	<key>KY</key>
	<dict>
		<key>e164</key>
		<string>+1-345</string>
		<key>e212</key>
		<string>346</string>
	</dict>
	<key>KZ</key>
	<dict>
		<key>e164</key>
		<string>7</string>
		<key>e212</key>
		<string>401</string>
	</dict>
	<key>LA</key>
	<dict>
		<key>e164</key>
		<string>856</string>
		<key>e212</key>
		<string>457</string>
	</dict>
	<key>LB</key>
	<dict>
		<key>e164</key>
		<string>961</string>
		<key>e212</key>
		<string>415</string>
	</dict>
	<key>LC</key>
	<dict>
		<key>e164</key>
		<string>+1-758</string>
		<key>e212</key>
		<string>358</string>
	</dict>
	<key>LI</key>
	<dict>
		<key>e164</key>
		<string>423</string>
		<key>e212</key>
		<string>295</string>
	</dict>
	<key>LK</key>
	<dict>
		<key>e164</key>
		<string>94</string>
		<key>e212</key>
		<string>413</string>
	</dict>
	<key>LR</key>
	<dict>
		<key>e164</key>
		<string>231</string>
		<key>e212</key>
		<string>618</string>
	</dict>
	<key>LS</key>
	<dict>
		<key>e164</key>
		<string>266</string>
		<key>e212</key>
		<string>651</string>
	</dict>
	<key>LT</key>
	<dict>
		<key>e164</key>
		<string>370</string>
		<key>e212</key>
		<string>246</string>
	</dict>
	<key>LU</key>
	<dict>
		<key>e164</key>
		<string>352</string>
		<key>e212</key>
		<string>270</string>
	</dict>
	<key>LV</key>
	<dict>
		<key>e164</key>
		<string>371</string>
		<key>e212</key>
		<string>247</string>
	</dict>
	<key>LY</key>
	<dict>
		<key>e164</key>
		<string>218</string>
		<key>e212</key>
		<string>606</string>
	</dict>
	<key>MA</key>
	<dict>
		<key>e164</key>
		<string>212</string>
		<key>e212</key>
		<string>604</string>
	</dict>
	<key>MC</key>
	<dict>
		<key>e164</key>
		<string>377</string>
		<key>e212</key>
		<string>212</string>
	</dict>
	<key>MD</key>
	<dict>
		<key>e164</key>
		<string>373</string>
		<key>e212</key>
		<string>259</string>
	</dict>
	<key>ME</key>
	<dict>
		<key>e164</key>
		<string>382</string>
		<key>e212</key>
		<string>297</string>
	</dict>
	<key>MG</key>
	<dict>
		<key>e164</key>
		<string>261</string>
		<key>e212</key>
		<string>646</string>
	</dict>
	<key>MH</key>
	<dict>
		<key>e164</key>
		<string>692</string>
		<key>e212</key>
		<string>551</string>
	</dict>
	<key>MK</key>
	<dict>
		<key>e164</key>
		<string>389</string>
		<key>e212</key>
		<string>294</string>
	</dict>
	<key>ML</key>
	<dict>
		<key>e164</key>
		<string>223</string>
		<key>e212</key>
		<string>610</string>
	</dict>
	<key>MM</key>
	<dict>
		<key>e164</key>
		<string>95</string>
		<key>e212</key>
		<string>414</string>
	</dict>
	<key>MN</key>
	<dict>
		<key>e164</key>
		<string>976</string>
		<key>e212</key>
		<string>428</string>
	</dict>
	<key>MO</key>
	<dict>
		<key>e164</key>
		<string>853</string>
		<key>e212</key>
		<string>455</string>
	</dict>
	<key>MP</key>
	<dict>
		<key>e164</key>
		<string>+1-670</string>
		<key>e212</key>
		<string>534</string>
	</dict>
	<key>MQ</key>
	<dict>
		<key>e164</key>
		<string>596</string>
		<key>e212</key>
		<string>340</string>
	</dict>
	<key>MR</key>
	<dict>
		<key>e164</key>
		<string>222</string>
		<key>e212</key>
		<string>609</string>
	</dict>
	<key>MS</key>
	<dict>
		<key>e164</key>
		<string>+1-664</string>
		<key>e212</key>
		<string>354</string>
	</dict>
	<key>MT</key>
	<dict>
		<key>e164</key>
		<string>356</string>
		<key>e212</key>
		<string>278</string>
	</dict>
	<key>MU</key>
	<dict>
		<key>e164</key>
		<string>230</string>
		<key>e212</key>
		<string>617</string>
	</dict>
	<key>MV</key>
	<dict>
		<key>e164</key>
		<string>960</string>
		<key>e212</key>
		<string>472</string>
	</dict>
	<key>MW</key>
	<dict>
		<key>e164</key>
		<string>265</string>
		<key>e212</key>
		<string>650</string>
	</dict>
	<key>MX</key>
	<dict>
		<key>e164</key>
		<string>52</string>
		<key>e212</key>
		<string>334</string>
	</dict>
	<key>MY</key>
	<dict>
		<key>e164</key>
		<string>60</string>
		<key>e212</key>
		<string>502</string>
	</dict>
	<key>MZ</key>
	<dict>
		<key>e164</key>
		<string>258</string>
		<key>e212</key>
		<string>643</string>
	</dict>
	<key>NA</key>
	<dict>
		<key>e164</key>
		<string>264</string>
		<key>e212</key>
		<string>649</string>
	</dict>
	<key>NC</key>
	<dict>
		<key>e164</key>
		<string>687</string>
		<key>e212</key>
		<string>546</string>
	</dict>
	<key>NE</key>
	<dict>
		<key>e164</key>
		<string>227</string>
		<key>e212</key>
		<string>614</string>
	</dict>
	<key>NG</key>
	<dict>
		<key>e164</key>
		<string>234</string>
		<key>e212</key>
		<string>621</string>
	</dict>
	<key>NI</key>
	<dict>
		<key>e164</key>
		<string>505</string>
		<key>e212</key>
		<string>710</string>
	</dict>
	<key>NL</key>
	<dict>
		<key>e164</key>
		<string>31</string>
		<key>e212</key>
		<string>204</string>
	</dict>
	<key>NO</key>
	<dict>
		<key>e164</key>
		<string>47</string>
		<key>e212</key>
		<string>242</string>
	</dict>
	<key>NP</key>
	<dict>
		<key>e164</key>
		<string>977</string>
		<key>e212</key>
		<string>429</string>
	</dict>
	<key>NR</key>
	<dict>
		<key>e164</key>
		<string>674</string>
		<key>e212</key>
		<string>536</string>
	</dict>
	<key>NZ</key>
	<dict>
		<key>e164</key>
		<string>64</string>
		<key>e212</key>
		<string>530</string>
	</dict>
	<key>OM</key>
	<dict>
		<key>e164</key>
		<string>968</string>
		<key>e212</key>
		<string>422</string>
	</dict>
	<key>PA</key>
	<dict>
		<key>e164</key>
		<string>507</string>
		<key>e212</key>
		<string>714</string>
	</dict>
	<key>PE</key>
	<dict>
		<key>e164</key>
		<string>51</string>
		<key>e212</key>
		<string>716</string>
	</dict>
	<key>PF</key>
	<dict>
		<key>e164</key>
		<string>689</string>
		<key>e212</key>
		<string>547</string>
	</dict>
	<key>PG</key>
	<dict>
		<key>e164</key>
		<string>675</string>
		<key>e212</key>
		<string>537</string>
	</dict>
	<key>PH</key>
	<dict>
		<key>e164</key>
		<string>63</string>
		<key>e212</key>
		<string>515</string>
	</dict>
	<key>PK</key>
	<dict>
		<key>e164</key>
		<string>92</string>
		<key>e212</key>
		<string>410</string>
	</dict>
	<key>PL</key>
	<dict>
		<key>e164</key>
		<string>48</string>
		<key>e212</key>
		<string>260</string>
	</dict>
	<key>PM</key>
	<dict>
		<key>e164</key>
		<string>508</string>
		<key>e212</key>
		<string>308</string>
	</dict>
	<key>PR</key>
	<dict>
		<key>e164</key>
		<string>+1-787 and 1-939</string>
		<key>e212</key>
		<string>330</string>
	</dict>
	<key>PS</key>
	<dict>
		<key>e164</key>
		<string>970</string>
		<key>e212</key>
		<string>423</string>
	</dict>
	<key>PT</key>
	<dict>
		<key>e164</key>
		<string>351</string>
		<key>e212</key>
		<string>268</string>
	</dict>
	<key>PW</key>
	<dict>
		<key>e164</key>
		<string>680</string>
		<key>e212</key>
		<string>552</string>
	</dict>
	<key>PY</key>
	<dict>
		<key>e164</key>
		<string>595</string>
		<key>e212</key>
		<string>744</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>e164</key>
		<string>974</string>
		<key>e212</key>
		<string>427</string>
	</dict>
	<key>RE</key>
	<dict>
		<key>e164</key>
		<string>262</string>
		<key>e212</key>
		<string>647</string>
	</dict>
	<key>RO</key>
	<dict>
		<key>e164</key>
		<string>40</string>
		<key>e212</key>
		<string>226</string>
	</dict>
	<key>RS</key>
	<dict>
		<key>e164</key>
		<string>381</string>
		<key>e212</key>
		<string>220</string>
	</dict>
	<key>RU</key>
	<dict>
		<key>e164</key>
		<string>7</string>
		<key>e212</key>
		<string>250</string>
	</dict>
	<key>RW</key>
	<dict>
		<key>e164</key>
		<string>250</string>
		<key>e212</key>
		<string>635</string>
	</dict>
	<key>SA</key>
	<dict>
		<key>e164</key>
		<string>966</string>
		<key>e212</key>
		<string>420</string>
	</dict>
	<key>SB</key>
	<dict>
		<key>e164</key>
		<string>677</string>
		<key>e212</key>
		<string>540</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>e164</key>
		<string>248</string>
		<key>e212</key>
		<string>633</string>
	</dict>
	<key>SD</key>
	<dict>
		<key>e164</key>
		<string>249</string>
		<key>e212</key>
		<string>634</string>
	</dict>
	<key>SE</key>
	<dict>
		<key>e164</key>
		<string>46</string>
		<key>e212</key>
		<string>240</string>
	</dict>
	<key>SG</key>
	<dict>
		<key>e164</key>
		<string>65</string>
		<key>e212</key>
		<string>525</string>
	</dict>
	<key>SI</key>
	<dict>
		<key>e164</key>
		<string>386</string>
		<key>e212</key>
		<string>293</string>
	</dict>
	<key>SK</key>
	<dict>
		<key>e164</key>
		<string>421</string>
		<key>e212</key>
		<string>231</string>
	</dict>
	<key>SL</key>
	<dict>
		<key>e164</key>
		<string>232</string>
		<key>e212</key>
		<string>619</string>
	</dict>
	<key>SM</key>
	<dict>
		<key>e164</key>
		<string>378</string>
		<key>e212</key>
		<string>292</string>
	</dict>
	<key>SN</key>
	<dict>
		<key>e164</key>
		<string>221</string>
		<key>e212</key>
		<string>608</string>
	</dict>
	<key>SO</key>
	<dict>
		<key>e164</key>
		<string>252</string>
		<key>e212</key>
		<string>637</string>
	</dict>
	<key>SR</key>
	<dict>
		<key>e164</key>
		<string>597</string>
		<key>e212</key>
		<string>746</string>
	</dict>
	<key>ST</key>
	<dict>
		<key>e164</key>
		<string>239</string>
		<key>e212</key>
		<string>626</string>
	</dict>
	<key>SV</key>
	<dict>
		<key>e164</key>
		<string>503</string>
		<key>e212</key>
		<string>706</string>
	</dict>
	<key>SY</key>
	<dict>
		<key>e164</key>
		<string>963</string>
		<key>e212</key>
		<string>417</string>
	</dict>
	<key>SZ</key>
	<dict>
		<key>e164</key>
		<string>268</string>
		<key>e212</key>
		<string>653</string>
	</dict>
	<key>TC</key>
	<dict>
		<key>e164</key>
		<string>+1-649</string>
		<key>e212</key>
		<string>376</string>
	</dict>
	<key>TD</key>
	<dict>
		<key>e164</key>
		<string>235</string>
		<key>e212</key>
		<string>622</string>
	</dict>
	<key>TG</key>
	<dict>
		<key>e164</key>
		<string>228</string>
		<key>e212</key>
		<string>615</string>
	</dict>
	<key>TH</key>
	<dict>
		<key>e164</key>
		<string>66</string>
		<key>e212</key>
		<string>520</string>
	</dict>
	<key>TJ</key>
	<dict>
		<key>e164</key>
		<string>992</string>
		<key>e212</key>
		<string>436</string>
	</dict>
	<key>TL</key>
	<dict>
		<key>e164</key>
		<string>670</string>
		<key>e212</key>
		<string>514</string>
	</dict>
	<key>TM</key>
	<dict>
		<key>e164</key>
		<string>993</string>
		<key>e212</key>
		<string>438</string>
	</dict>
	<key>TN</key>
	<dict>
		<key>e164</key>
		<string>216</string>
		<key>e212</key>
		<string>605</string>
	</dict>
	<key>TO</key>
	<dict>
		<key>e164</key>
		<string>676</string>
		<key>e212</key>
		<string>539</string>
	</dict>
	<key>TR</key>
	<dict>
		<key>e164</key>
		<string>90</string>
		<key>e212</key>
		<string>286</string>
	</dict>
	<key>TT</key>
	<dict>
		<key>e164</key>
		<string>+1-868</string>
		<key>e212</key>
		<string>374</string>
	</dict>
	<key>TW</key>
	<dict>
		<key>e164</key>
		<string>886</string>
		<key>e212</key>
		<string>466</string>
	</dict>
	<key>TZ</key>
	<dict>
		<key>e164</key>
		<string>255</string>
		<key>e212</key>
		<string>640</string>
	</dict>
	<key>UA</key>
	<dict>
		<key>e164</key>
		<string>380</string>
		<key>e212</key>
		<string>255</string>
	</dict>
	<key>UG</key>
	<dict>
		<key>e164</key>
		<string>256</string>
		<key>e212</key>
		<string>641</string>
	</dict>
	<key>US</key>
	<dict>
		<key>e164</key>
		<string>1</string>
		<key>e212</key>
		<string>316</string>
	</dict>
	<key>UY</key>
	<dict>
		<key>e164</key>
		<string>598</string>
		<key>e212</key>
		<string>748</string>
	</dict>
	<key>UZ</key>
	<dict>
		<key>e164</key>
		<string>998</string>
		<key>e212</key>
		<string>434</string>
	</dict>
	<key>VA</key>
	<dict>
		<key>e164</key>
		<string>379</string>
		<key>e212</key>
		<string>225</string>
	</dict>
	<key>VC</key>
	<dict>
		<key>e164</key>
		<string>+1-784</string>
		<key>e212</key>
		<string>360</string>
	</dict>
	<key>VE</key>
	<dict>
		<key>e164</key>
		<string>58</string>
		<key>e212</key>
		<string>734</string>
	</dict>
	<key>VG</key>
	<dict>
		<key>e164</key>
		<string>+1-284</string>
		<key>e212</key>
		<string>348</string>
	</dict>
	<key>VI</key>
	<dict>
		<key>e164</key>
		<string>+1-340</string>
		<key>e212</key>
		<string>332</string>
	</dict>
	<key>VN</key>
	<dict>
		<key>e164</key>
		<string>84</string>
		<key>e212</key>
		<string>452</string>
	</dict>
	<key>VU</key>
	<dict>
		<key>e164</key>
		<string>678</string>
		<key>e212</key>
		<string>541</string>
	</dict>
	<key>WF</key>
	<dict>
		<key>e164</key>
		<string>681</string>
		<key>e212</key>
		<string>543</string>
	</dict>
	<key>WS</key>
	<dict>
		<key>e164</key>
		<string>685</string>
		<key>e212</key>
		<string>549</string>
	</dict>
	<key>XX</key>
	<dict>
		<key>e164</key>
		<!-- The <data> element below contains a Ruby object which has been serialized with Marshal.dump. -->
		<data>
		BAgw
		</data>
		<key>e212</key>
		<string>901</string>
	</dict>
	<key>YE</key>
	<dict>
		<key>e164</key>
		<string>967</string>
		<key>e212</key>
		<string>421</string>
	</dict>
	<key>ZA</key>
	<dict>
		<key>e164</key>
		<string>27</string>
		<key>e212</key>
		<string>655</string>
	</dict>
	<key>ZM</key>
	<dict>
		<key>e164</key>
		<string>260</string>
		<key>e212</key>
		<string>645</string>
	</dict>
	<key>ZW</key>
	<dict>
		<key>e164</key>
		<string>263</string>
		<key>e212</key>
		<string>648</string>
	</dict>
</dict>
</plist>
